/* Font: Inter */
@font-face {
	font-family: "Inter";
	font-weight: 400;
	src: url("/fonts/Inter/Inter-Regular.woff");
}
@font-face {
	font-family: "Inter";
	font-weight: 500;
	src: url("/fonts/Inter/Inter-Medium.woff");
}
@font-face {
	font-family: "Inter";
	font-weight: 600;
	src: url("/fonts/Inter/Inter-SemiBold.woff");
}

/* Style: Application > Base > Fonts (Main) */
body {
	font-family: Inter,
							 -apple-system,
							 BlinkMacSystemFont,
							 "Segoe UI",
							 Roboto,
							 Oxygen-Sans,
							 Ubuntu,
							 Cantarell,
							 "Helvetica Neue",
							 Helvetica,
							 Arial,
							 sans-serif,
							 "Apple Color Emoji",
							 "Segoe UI Emoji",
							 "Segoe UI Symbol"
}
